<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "EBOBC Project", ebobc_path, class: "list-group-item" %>
                    <%= link_to "Juneteenth", juneteenth_path, class: "list-group-item" %>
                    <%= link_to "Company Structure", juneteenth_path, class: "list-group-item" %>                    
                    <%= link_to "HHSYC Divisions", map_path, class: "list-group-item" %>
                    
                    <a href="blog-home-1.html" class="list-group-item">Join HHSYC Now</a>
                </div>
            </div>