<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "View All Announcements", index_announcements_path, class: "list-group-item" %>
                    <%= link_to "View All Blog Posts", blogs_path, class: "list-group-item" %>
                    <%= link_to "View Photo Gallery", announcements_path, class: "list-group-item" %>
                </div>
            </div>