<!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <%= link_to "Mission Statement", mission_path, class: "list-group-item" %>
                    <%= link_to "Company History", company_history_path, class: "list-group-item" %>
                    <%= link_to "Company Structure", company_structure_path, class: "list-group-item" %>                    
                    <%= link_to "HHSYC Divisions", hysyc_divisions_path, class: "list-group-item" %>
                    
                    <a href="blog-home-1.html" class="list-group-item">Join HHSYC Now</a>
                </div>
            </div>